<template>
  <section class="section">
    <div id="heat"></div>
    <p class="content is-small">View is from pitchers perspective. Strikezone height is an approximation</p>
    <div class="notification is-info">
      {{pitchFilterText}}
    </div>

    <div class="box" id="pitchFilters">
      <p class="title">Pitch filters</p>   
      <div class="block">
        <a class="button" v-on:click="clearFilter">Clear filters</a>
      </div> 
      <div class="field is-fluid">
        <template v-for="pitch in pitchType">
          <p class="control" id="pitchBox">
            <label class="checkbox" :for="pitch" />
              <input class="checkbox" type="checkbox" :id="pitch" :value="pitch" v-on:click="pitchArray">
              {{pitchName[pitch]}}
            </label>
          </p>
        </template>
      </div>
      <autocomplete
        :url="names"
        placeholder="Search batters"
        anchor="batter_name"
        label="batter_name"
        :process="processJSON"
        :on-select="getData" 
        :min="2"
        ref="autocomplete">
      </autocomplete>
    </div>
  </section>
</template>

<script>
  import Autocomplete from './vue-autocomplete.vue';
  var lesterData = require('./lester.json');
  export default {
    components: { Autocomplete },
    name: 'app',
    data () {
      return {
        pitchType: [],
        names: [],
        pitchFilterText: '',
        filterTypes: {pitches: [], player: ''}
      }
    },
    computed: {
      pitchName: function() {
        return { "FA": "Fastball", "FC": "Cutter", "SI":"Sinker", "CU":"Curveball" ,"CH":"Changeup", "IB": "Intentional ball", 
          "UN": "Unidentified", "FT": "Two-seam Fastball","KN": "Knuckleball", "PO": "Pitchout", "SL": "Slider", 'is_pa_pitch': "Last pitch of AB" };
      }
    },
    mounted: function() {
      var name = [], output = [], pitchTypes = [], pitchType = [];
      for(var i = 0; i < lesterData.length; i++) {
        if(!name[lesterData[i].batter_id]) {
          name[lesterData[i].batter_id] = true;
          output.push({ batter_id: lesterData[i].batter_id, batter_name: lesterData[i].batter_name });
        } 
        if(!pitchTypes[lesterData[i].pitch_type]) {
          pitchTypes[lesterData[i].pitch_type] = true;
          pitchType.push(lesterData[i].pitch_type);
        }
      }
      pitchType.push('is_pa_pitch');
      this.names = output;
      this.pitchType = pitchType;
      this.paintHeatmap();
      document.getElementById('loading').setAttribute('style','display:none');
    },
    methods: {
      clearFilter: function() {
        //First uncheck all boxes
        var arr1 = [], checked = document.querySelectorAll('#pitchBox input[type=checkbox]:checked');
        checked.forEach(function(el){el.checked = false;});
        //Clear text field
        this.$refs.autocomplete.clearInput();
        this.filterTypes.player = '';
        //Rebuild heat map
        this.pitchArray();
      },
      pitchArray: function() {
        var arr1 = [], checked = document.querySelectorAll('#pitchBox input[type=checkbox]:checked');
        checked.forEach(function(el){arr1.push(el.value)});
        this.filterTypes.pitches = arr1;
        this.paintHeatmap();
      },
      paintHeatmap:  function() {
        var heatMapData = [];
        var locXArr = [], locZArr = [];
        for (var i = 0; i < lesterData.length; i++){
          var locX = lesterData[i].location_x;
          var locZ = lesterData[i].location_z;
          // Don't include null values to schew the data
          if(locX == null || locX == 'null' || typeof locX === 'undefined' ) continue;
          if(locZ == null || locZ == 'null' || typeof locZ === 'undefined') continue;

          // If there is a player selected, first check to see if they are there
          if(this.filterTypes.player != '') {
            // Check to see if the current record is a player
            if(lesterData[i].batter_id == this.filterTypes.player) {
              // If there are pitches selected, add to map, otherwise add current data
              if(this.filterTypes.pitches.length > 0) {
                if(this.filterTypes.pitches.indexOf(lesterData[i].pitch_type) > -1 || 
                  (this.filterTypes.pitches.indexOf('is_pa_pitch') > -1 && lesterData[i].is_pa_pitch == true)) {
                  locXArr.push(locX);
                  locZArr.push(locZ);
                }

              } else {
                locXArr.push(locX);
                locZArr.push(locZ);
              }
            }
          }
          // If there are pitche type selected, add them
          else if(this.filterTypes.pitches.length > 0) {
              // If data looking at matches one of selected pitch type, go to add it
              if (this.filterTypes.pitches.indexOf(lesterData[i].pitch_type) > -1) {
                // If only looking at last pitch, make sure it is last pitch. Otherwise add it
                if(this.filterTypes.pitches.indexOf('is_pa_pitch') > -1) {
                  if (lesterData[i].is_pa_pitch == true) {
                    locXArr.push(locX);
                    locZArr.push(locZ);
                  }
                } else {
                  locXArr.push(locX);
                  locZArr.push(locZ);
                }
              } 
              //Check to see if the filtering is *only* last pitch
              else if(this.filterTypes.pitches.indexOf('is_pa_pitch') > -1 && this.filterTypes.pitches.length == 1) {
                if (lesterData[i].is_pa_pitch == true) {
                  locXArr.push(locX);
                  locZArr.push(locZ);
                } 
              }
          } 
          // Otherwise, build heatmap of all data
          else {
            locXArr.push(locX);
            locZArr.push(locZ);
          }
        }
        var heatMap = {
          x: locXArr,
          y: locZArr,
          name: 'density',
          colorscale: 'Hot',
          reversescale: true,
          showscale: false,
          //histnorm:'density',
          type: 'histogram2dcontour',
          line: {
            width: 0.2
          },
          contours: {
            coloring: 'heatmap'
          }
        };
        var data = [heatMap, {y:[-1.75,5.5], x:[-2.8,3.1], mode: 'markers', marker: { color: 'white'} }];

        //Get width of window to size graph properly
        var WINDOW_WIDTH = window.innerWidth < 800 ? window.innerWidth : 800;

        var layout = {
          showlegend: false,
          autosize: false,
          width: WINDOW_WIDTH,
          height: 550,
          margin: {t: 50},
          hovermode: 'closest',
          bargap: 0,
          xaxis: {
            domain: [0, 1],
            showgrid: false,
            zeroline: false
          },
          yaxis: {
            domain: [0, 1],
            showgrid: false,
            zeroline: false
          },
          shapes: [
            {
              type: 'rect',
              xref: 'x',
              yref: 'y',
              x0: -0.70833,
              y0: 1,
              x1: 0.70833,
              y1: 2.75,
              line : { color: 'rgb(0,0,0)', width: 2 }
            }
          ]
        };
        Plotly.newPlot('heat', data, layout);

        //Notify what is filtered
        if(this.filterTypes.pitches.length > 0) { 
          let pitchText = '', name = '';
          for(let i = 0; i < this.filterTypes.pitches.length; i++) pitchText += this.pitchName[this.filterTypes.pitches[i]] + ' ';
          if(this.filterTypes.player > 0) name = ' to ' +document.querySelectorAll('.focus-list span')[0].innerHTML;
          this.pitchFilterText = 'Filtered to see pitch type: ' + pitchText + name;
        }
        else if(this.filterTypes.player > 0) { 
          this.pitchFilterText = 'Filtered to see pitches to ' + document.querySelectorAll('.focus-list span')[0].innerHTML;
          }
        else 
          this.pitchFilterText = 'Filtered to see heat map of all Jon Lester pitches';
      },
      processJSON(json) {
        return json;
      },
      getData(data) {
        this.filterTypes.player = data.batter_id;
        this.paintHeatmap();
      }
    }
  }
  
</script>

<style>
  #pitchFilters {
    margin-top: 15px
  }
</style>
